spring:
  application:
    name: ai-meeting-assistant
  
  data:
    mongodb:
      uri: ${MONGODB_URI}
  
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

server:
  port: 8080
  tomcat:
    accesslog:
      enabled: true
      pattern: "%h %l %u %t \"%r\" %s %b %D"
      directory: /dev
      prefix: stdout
      suffix:
      file-date-format:

ai:
  service:
    url: http://localhost:8000

logging:
  level:
    root: INFO
    com.meetings.backend: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
